@model IEnumerable<Live_Safe_v02.Models.Usuarios>

@{
    ViewData["Title"] = "Index";
}
<div class="caixa-pesquisa">
<h1 class="text-light text-info" asp-area="" asp-controller="" asp-action="" asp-route-id="">Lista de Usuarioas Cadastrados</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-info text-light">Create New</a>
</p>
    <table class="table text-light">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Senha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Perfil)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <p class="text-center">@Html.DisplayFor(modelItem => item.Email)</p>
            </td>
            <td>
                    **(...)**
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Perfil)
            </td>
            <td>
                <a class="btn-info text-light" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn-warning text-light" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a class="btn-danger text-light" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
